h1{
    color: indigo;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, h3{
    color: darkslateblue;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}