*{
    margin-bottom: 0px;
}
h1{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, h3{
    font-family: Verdana;
}

h2{
    font-size: large;
}
h3{
    font-size: medium;
}

p, li{
    font-size: small;
    line-height: normal;
}