h1{
    color: #161a1e;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, h3{
    color: #161a1e;
    font-family: Verdana;
}

h2{
    font-size: large;
}
h3{
    font-size: medium;
}

p, li{
    color: #2f353b;
    font-size: small;
    line-height: normal;
}